.filter-view {
  position: absolute;
  width: 80%;
  height: auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.filter-overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  backdrop-filter: blur(2px);
  background-color: rgb(255, 255, 255, 0.8);
}

.category-checkbox {
  width: 24px;
  height: 24px;
}

.category {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px;
}
.category-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}
.category-description {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filterBtn-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.filterBtn {
  padding: 8px;
  border-radius: 10px;
}

.category-icon {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
