.app-header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--backgroundWhite);
  padding: 1.5rem 1.5rem 0.8rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header-logo {
  height: 60px;
  max-width: 160px;
  object-fit: contain;
}
